html {
  font-family: Verdana, Helvetica, sans-serif;
}

.main {
  background-color: whitesmoke;
  width: 80%;
  max-width: 1400px;
  margin: auto;
}

footer {
  margin: 20px 0;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }
}
