html {
  font-family: Verdana, Helvetica, sans-serif;
}

.main {
  background-color: whitesmoke;
  width: 80%;
  max-width: 1600px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 4;
  grid-column-gap: 0.2rem;
}

footer {
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
}
